
@model HR.API.Models.ReclamoViewModel

<div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
    
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
                
                <label asp-for="AbonadoId" class="control-label"></label>
                <input asp-for="AbonadoId" class="form-control" />
                <span asp-validation-for="AbonadoId" class="text-danger"></span>

                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
              
                 <div class="form-group">
                     <label asp-for="TecnicoId" class="control-label"></label>
                     <select asp-for="TecnicoId" asp-items="Model.Tecnicos" class="form-control">
                     
                      </select>
                      <span asp-validation-for="TecnicoId" class="text-danger"></span>
                         
                 </div>
                
                
                
                <div class="form-group">

                <label asp-for="ReclamoMateriaId" class="control-label"></label>
                <select asp-for="ReclamoMateriaId" asp-items="Model.Materiales" class="form-control"></select>
                <span asp-validation-for="ReclamoMateriaId" class="text-danger"></span>
         
            </div>
            
               <div class="form-group">

                <label asp-for="ReclamoTypeId" class="control-label"></label>
                <select asp-for="ReclamoTypeId" asp-items="Model.TipoReclamos" class="form-control"></select>
                <span asp-validation-for="ReclamoTypeId" class="text-danger"></span>
         </div>

  </div>